<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot Fatec Whirlpool</title>
</head>

<body>
  <h1>Chatbot Fatec Whirlpool</h1>

  <p><a href="./chat.html" id="link">New Chat</a></p>

  <script type="module">
    const link = document.getElementById('link')
    setTimeout(() => {
      const now = Date.now()
      link.setAttribute('href', `/chat/${now}`)
    }, 100)
  </script>
</body>

</html>